#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: beige;
}

.grid {
  display: flex;
  gap: 20rem;
}

.heading {
  text-align: center;
  color: blueviolet;
  background-color: black;
}

.title {
  color: brown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 2cap;
  padding-right: 2cap;
  background-color: aqua;
  border-color: black;
}

.name {
  color:chocolate;
}