#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.grid {
  display: flex;
  gap: 2rem;
}

.heading {
  text-align: center;  
  color: blueviolet;
}

.name {
  color: crimson;
  font-size: large;
  font-weight: 500;
}

.sciName {
  color: black;
  font-style: italic
}

.animal-card {
  flex: 1;
  background-color: white;
  padding: 2.5rem;
  margin: 0 .25rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  min-width: 100pt;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.animal-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weight {
  font-size: 1.125rem;
}

.sciName,
.animal-card-weight {
  font-weight: 600;
}